include usersidebar
dev.container
    p= user.username

    if users
        +listusers(users)

    if databases
        +listdatabases(databases)
    
    if tables
        +listtables(tables)

    if tableedit
        p= tableedit
        p= t(tableedit)
        +edittable(tableedit,rows)