row
    pre
        | express
        | i18n
        | pug
        | bootstrap v3.1.1
    a.btn.btn-ligh(href="#login")=t("login")
    |  или 
    a.btn.btn-ligh(href="#registration")=t("registration")

    div(id="signupcontent")
        div(id="login")
            include loginform.pug
        div(id="registration")
            include registrationform.pug