nav.navbar.navbar-default.navbar-fixed-top
    div.navbar-header
        a.notranslate.navbar-brand(href="/")= title
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-main")
            span.icon-bar
            span.icon-bar
            span.icon-bar
    div.collapse.navbar-collapse(id="navbar-main")
        ul.nav.navbar-nav
            each item in mainnavigation
                if item.submenu
                    li.dropdown
                        +subitem(item,true)
                else
                    li(class=(item.active ? 'active' : ''))
                        a(href=item["link"])= t(item["name"])
            li
                a(href="/rss")
                    include rss-icon.svg.pug
        form.navbar-form.navbar-right.hidden-sm
            form(id="search", method='get', action='/')
                div.form-group
                    input.form-control(type='text', name='search', placeholder=t('insert text for search'))
                    button.btn.btn-default(type='submit')=t('search')