row
    p
        | Все мы пришли в этот мир что-бы получить свой жизненный опыт.<br/>
        | У каждого есть свой путь.<br/>
        | Но что, если у вас будет своя шпаргалка, которая поможет в трудных жизненных ситуациях?<br/>
        | <br/>
        | Все мы живем в социуме. Каждый день сталкиваемся с себе подобными.<br/>
        | И ваша жизнь зависит не только от вас, но и от окружающих.<br/>
        | <br/>
        | Кто мы такие? Из какого теста слеплены? Кто ваши близкие, родня, знакомые?<br/>
        | ...об этом может рассказать дата рождения...<br/>
    
    a(href="#login")=t("login")
    |  или 
    a(href="#registration")=t("registration")

    if message
        h2= message
    
    div(id="signupcontent")
        div(id="login")
            include loginform.pug
        div(id="registration")
            include registrationform.pug