//- svg-icons.pug
mixin svg-rss-icon(width,height,descr)
    svg(xmlns="http://www.w3.org/2000/svg" version="1.1" width=width+"px" height=height+"px" viewBox="0 0 256 256" aria-label=descr)
        defs
            linearGradient(x1="0.085" y1="0.085" x2="0.915" y2="0.915" id="RSSgrad")
            stop(offset="0.0" stop-color="#E3702D")
            stop(offset="0.1071" stop-color="#EA7D31")
            stop(offset="0.3503" stop-color="#F69537")
            stop(offset="0.5" stop-color="#FB9E3A")
            stop(offset="0.7016" stop-color="#EA7C31")
            stop(offset="0.8866" stop-color="#DE642B")
            stop(offset="1.0" stop-color="#D95B29")
        rect(width="256" height="256" rx="55" ry="55" x="0"  y="0"  fill="#CC5D15")
        rect(width="246" height="246" rx="50" ry="50" x="5"  y="5"  fill="#F49C52")
        rect(width="236" height="236" rx="47" ry="47" x="10" y="10" fill="url(#RSSgrad)")
        circle(cx="68" cy="189" r="24" fill="#FFF")
        path(d="M160 213h-34a82 82 0 0 0 -82 -82v-34a116 116 0 0 1 116 116z" fill="#FFF")
        path(d="M184 213A140 140 0 0 0 44 73 V 38a175 175 0 0 1 175 175z" fill="#FFF")

mixin svg-bursday-icon(width,height)
    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', preserveaspectratio='xMidYMid meet', viewbox='0 0 640 640', width='16', height='16')
      defs
        path#a14UhUL4A(d='M325.38 347.46C447.8 354.97 524.31 359.66 554.91 361.54C574.73 362.76 590.19 379.19 590.19 399.05C590.19 442.71 590.19 560.8 590.19 610.07C590.19 614.09 586.93 617.35 582.91 617.35C478.23 617.35 171.46 617.35 66.78 617.35C62.76 617.35 59.5 614.09 59.5 610.07C59.5 560.8 59.5 442.31 59.5 398.55C59.5 378.97 74.74 362.77 94.28 361.58C125.1 359.7 202.13 354.99 325.38 347.46Z')
        path#hyqAkamWd(d='M209.07 158.04C215.04 158.04 219.88 162.88 219.88 168.85C219.88 215.81 219.88 345.88 219.88 392.85C219.88 398.82 215.04 403.66 209.07 403.66C199.07 403.66 179.89 403.66 169.89 403.66C163.92 403.66 159.08 398.82 159.08 392.85C159.08 345.88 159.08 215.81 159.08 168.85C159.08 162.88 163.92 158.04 169.89 158.04C179.89 158.04 199.07 158.04 209.07 158.04Z')
        path#a1U6UZQil(d='M347.59 127.66C354.89 127.66 360.8 133.57 360.8 140.87C360.8 198.23 360.8 357.1 360.8 414.46C360.8 421.75 354.89 427.66 347.59 427.66C337.56 427.66 320.67 427.66 310.64 427.66C303.35 427.66 297.43 421.75 297.43 414.46C297.43 357.1 297.43 198.23 297.43 140.87C297.43 133.57 303.35 127.66 310.64 127.66C320.67 127.66 337.56 127.66 347.59 127.66Z')
        path#a1t7HlvHL(d='M215.22 120.66C215.22 133.87 203.86 144.6 189.88 144.6C175.89 144.6 164.53 133.87 164.53 120.66C164.53 107.45 175.89 96.73 189.88 96.73C203.86 96.73 215.22 107.45 215.22 120.66Z')
        path#a1kxDeVvzg(d='M198.56 82.65L207.24 103.3L189.87 103.3L172.51 103.3L181.19 82.65L189.87 62L198.56 82.65Z')
        path#f6ANhBWPuI(d='M355.53 89.69C355.53 103.46 343.69 114.63 329.12 114.63C314.54 114.63 302.7 103.46 302.7 89.69C302.7 75.92 314.54 64.74 329.12 64.74C343.69 64.74 355.53 75.92 355.53 89.69Z')
        path#bLTTZ3c3b(d='M338.17 50.07L347.21 71.59L329.12 71.59L311.02 71.59L320.07 50.07L329.12 28.55L338.17 50.07Z')
        path#aJaF7ucSS(d='M490.01 158.04C495.98 158.04 500.82 162.88 500.82 168.85C500.82 215.81 500.82 345.88 500.82 392.85C500.82 398.82 495.98 403.66 490.01 403.66C480.01 403.66 460.83 403.66 450.83 403.66C444.86 403.66 440.02 398.82 440.02 392.85C440.02 345.88 440.02 215.81 440.02 168.85C440.02 162.88 444.86 158.04 450.83 158.04C460.83 158.04 480.01 158.04 490.01 158.04Z')
        path#baCwrlUH(d='M496.16 120.66C496.16 133.87 484.8 144.6 470.82 144.6C456.83 144.6 445.47 133.87 445.47 120.66C445.47 107.45 456.83 96.73 470.82 96.73C484.8 96.73 496.16 107.45 496.16 120.66Z')
        path#b4lMF6B7PT(d='M479.5 82.65L488.18 103.3L470.81 103.3L453.45 103.3L462.13 82.65L470.81 62L479.5 82.65Z')
      g
        g
          g
            use(xlink:href='#a14UhUL4A', opacity='1', fill='#000000', fill-opacity='1')
          g
            use(xlink:href='#hyqAkamWd', opacity='1', fill='#0e0c0d', fill-opacity='1')
          g
            use(xlink:href='#a1U6UZQil', opacity='1', fill='#0e0c0d', fill-opacity='1')
          g
            g
              use(xlink:href='#a1t7HlvHL', opacity='1', fill='#0e0c0d', fill-opacity='1')
            g
              use(xlink:href='#a1kxDeVvzg', opacity='1', fill='#0e0c0d', fill-opacity='1')
          g
            g
              use(xlink:href='#f6ANhBWPuI', opacity='1', fill='#0e0c0d', fill-opacity='1')
            g
              use(xlink:href='#bLTTZ3c3b', opacity='1', fill='#0e0c0d', fill-opacity='1')
          g
            use(xlink:href='#aJaF7ucSS', opacity='1', fill='#0e0c0d', fill-opacity='1')
          g
            g
              use(xlink:href='#baCwrlUH', opacity='1', fill='#0e0c0d', fill-opacity='1')
            g
              use(xlink:href='#b4lMF6B7PT', opacity='1', fill='#0e0c0d', fill-opacity='1')
    