dev.sidebar-nav
    div.sidebar-header
        if user.userpic
            img.userpic(src=user.userpic)
        else
            img.userpic(src="/public/images/default-userpic.png")
    ul.list-unstyled.components
        each item in usernavigation
            a.list-group-item(href=item["link"])= t(item["name"])
                if (item["name"]=='mail' && user.mailcount!=null )
                    span.badge.badge-default.badge-pill= user.mailcount