//- main.pug
include ../includes/mixins

doctype html
html
  head
    //- заголовок сайта в config.json application title  
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='/public/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/css/bootstrap-social.css', rel='stylesheet')
    link(href='/public/css/bootstrap-social-addon.css', rel='stylesheet')
    link(href='/public/css/main.css', rel='stylesheet')
    script(src='/public/js/jquery.min.js')
    script(src='/public/js/bootstrap.min.js')
    script(src='/public/js/main.js')  
  body
    div.container
        div(id="mainmenu")
            include ../includes/mainnavbar
        div.jumbotron
            div(id="title")
                block title
            //- показываем рекламный блок только пользователям
            //- или всем незалогиненым
            if user
                if user.role==1
                else
                    include ../includes/ads.pug
            else
                include ../includes/ads.pug
            div.wrapper(id="content")
                block content
            if message
                +message(message.type,message.text)
        div.footer
            include footer.pug