//- main.pug
include ../includes/mixins

doctype html
//- указываем язык локали, что-бы гуглхром не предлагал перевести страницу (если выбрано "ru")
html(lang=locale)
  head
    //- заголовок сайта в config.json application title  
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- указываем гуглу не переводить страницу
    //- meta(name="google" content="notranslate")
    link(href='/public/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/css/bootstrap-social.css', rel='stylesheet')
    link(href='/public/css/bootstrap-social-addon.css', rel='stylesheet')
    link(href='/public/css/main.css', rel='stylesheet')
    link(rel="alternate", type="application/rss+xml",title="RSS "+title, href="/rss")
    script(src='/public/js/jquery.min.js')
    script(src='/public/js/bootstrap.min.js')
    script(src='/public/js/main.js')  
  body
    div.container
        div.mainmenu
            include ../includes/mainnavbar
        div.jumbotron
            div.title
                block title
            //- показываем рекламный блок только пользователям
            //- или всем незалогиненым
            if user
                if user.role==1
                else
                    include ../includes/ads.pug
            else
                include ../includes/ads.pug
            div.content
                block content
            if messages
                +messages(messages)
        div.footer
            include footer.pug