//- broken.pug
extends layouts/main

block title
    h2= t('articles')

block content
    if articles
        if articles.length>0
            +listarticles(articles)

            if article
                if article.command=="read"
                    h3= article.title
                    p= article.text
                if article.command=="edit"
                    include includes/articleform.pug
        else
            p= t('Will see you soon articles')