//- broken.pug
extends layouts/main

include includes/mixins

block title
    h2= t('articles')

//- показываем рекламный блок только пользователям
//- или всем незалогиненым
block ads
 if user
        if user.role==1
        else
            include includes/ads.pug
    else
        include includes/ads.pug

block content
    if articles
        if articles.length>0
            +listarticles(articles)

            if article
                if article.command=="read"
                    h3= article.title
                    p= article.text
                if article.command=="edit"
                    include includes/articleform.pug
        else
            p= t('Will see you soon articles')