//- index.pug
extends layouts/main

block title
	h1= t('home')

//- показываем рекламный блок только пользователям
//- или всем незалогиненым
block ads
	if user
		if user.role==1
		else
			include includes/ads.pug
	else
		include includes/ads.pug

block content
	if user
		if user.role==1
			include includes/adminpage.pug
		else
			include includes/userpage.pug
	else
		include includes/mainpage.pug