//- index.pug
extends layouts/main

block title
	h2= t('home')

block content
	if user
		if user.role==1
			include includes/adminpage.pug
		else
			include includes/userpage.pug
	else
		row
			p Рабочее Demo для 
				a(href="https://github.com/virex-84/testapp") https://github.com/virex-84/testapp	
			include includes/hellopage.pug