@import 'bootstrap/variables'

//fix тема находится в подкаталоге, указываем корректный путь до шрифтов
//для отображения иконок
$icon-font-path = '/public/fonts/'

// scss
// https://github.com/mtre/bootstrap-sass-directional/blob/master/assets/stylesheets/_bootstrap.scss

// переменные
// https://github.com/maxmx/bootstrap-stylus/blob/master/bootstrap/variables.styl

// цвета
// https://www.w3schools.com/colors/colors_picker.asp

$green-base =          rgba(59, 77, 0,100)
$green-darker =         lighten($green-base, 13.5) 
$greeny-dark =          lighten($green-base, 20)   
$green =                lighten($green-base, 33.5) 
$green-light =          lighten($green-base, 46.7) 
$green-lighter =        lighten($green-base, 93.5) 

$brand-primary =       darken($greeny-dark, 6.5) // #337ab7

//=== Inverted navbar
// Reset inverted navbar basics
$navbar-default-color =                    lighten($green-light, 15)
$navbar-default-bg =                       $greeny-dark
$navbar-default-border =                   darken($greeny-dark, 10)

// navbar links
$navbar-default-link-color =               lighten($green-light, 15)
$navbar-default-link-hover-color =         #fff
$navbar-default-link-hover-bg =            transparent
$navbar-default-link-active-color =        $navbar-default-link-color
$navbar-default-link-active-bg =           darken($navbar-inverse-bg, 10)
$navbar-default-link-disabled-color =      #444
$navbar-default-link-disabled-bg =         transparent

// navbar brand label
$navbar-default-brand-color =              $navbar-default-link-color
$navbar-default-brand-hover-color =        #fff
$navbar-default-brand-hover-bg =           transparent

// navbar toggle
$navbar-default-toggle-hover-bg =          $greeny-dark
$navbar-default-toggle-icon-bar-bg =       $green-darker
$navbar-default-toggle-border-color =      $greeny-dark

$navbar-default-link-active-color =       #fff
$navbar-default-link-active-bg =          darken($greeny-dark, 10)

//** Active dropdown menu item text color.
$dropdown-link-active-color =   #fff
//** Active dropdown menu item background color.
$dropdown-link-active-bg =      darken($greeny-dark, 10)

//** Background color for `<body>`.
$body-bg =               rgba(230, 255, 230, 100)
//** Global text color on `<body>`.
$text-color =            $gray-dark

@import "bootstrap"